mat-sidenav-container{
  height: 100%;
}

 mat-sidenav-content{
  padding: 16px;
}

mat-sidenav {
  padding-top: 19px;
}
mat-sidenav{
  width: 220px;
}


.example-spacer {
  flex: 1 1 auto;
}



.p-panelmenu {
  .p-panelmenu-header {
    a {
     padding: 1rem;
     /* border: 1px solid #dee2e6; */
     background: transparent !important;
     font-weight: 600;
     border-radius: 3px;
     transition: box-shadow 0.2s;
     color: white !important;
     width: 100%;
   }
  }
}
